@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;800&display=swap');
body{
  margin:0;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
}
.register-body{
  background-image:
    linear-gradient(to bottom, rgba(62, 37, 122, 0.496), rgba(129, 5, 127, 0.561)),
    url('/src/components/assets/crowd6.jpg');
    background-size:cover;
    background-attachment: fixed;
    background-position: 30%;
    margin:auto;
    height:100vh;
    display: flex;
    align-items: center;  
}

.form-container{
  width:50em;
  margin-top:9em;
  margin-left:20%;
  display: flex;
  flex-direction: row;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.card {
  position: relative;
  width: 150px;
  height: 100px;
  background: #fff;
  border-radius: 10px;
  transition: all 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.input {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  appearance: none;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  z-index: 10;
  box-shadow: 1px 1px 10px #aaaaaa,
              -1px -1px 10px #ffffff;
}

.input + .check::before {
  content: "";
  position: absolute;
  top: 15px;
  right: 15px;
  width: 16px;
  height: 16px;
  border: 2px solid #d0d0d0;
  border-radius: 50%;
  background-color: #E8E8E8;
}

.input:checked + .check::after {
  content: '';
  position: absolute;
  top: 19px;
  right: 19px;
  width: 12px;
  height: 12px;
  background-color: rgb(226, 212, 134);
  border-radius: 50%;
}

.input[value="1"]:checked + .check::after {
  background-color: rgb(102, 30, 102);
}

.input[value="2"]:checked + .check::after {
  background-color: silver;
}

.input[value="3"]:checked + .check::after{
  border: 1.5px solid rgb(226, 212, 134);
}

.input[value="1"]:checked {
  border: 3px solid rgb(102, 30, 102);
}
.input[value="2"]:checked {
  border: 3px solid silver;
}

.input[value="3"]:checked {
  border: 3px solid rgb(226, 212, 134);
}

.label {
  color: #323232;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.label .title {
  margin: 15px 0 0 15px;
  font-weight: 900;
  font-size: 15px;
  letter-spacing: 1.5px;
}

.label .price {
  margin: 20px 0 0 15px;
  font-size: 20px;
  font-weight: 900;
}

.label .span {
  color: gray;
  font-weight: 700;
  font-size: 15px;
}

.title{
  font-family: Raleway, sans-serif;
}